<!--
 * (C) Copyright 2008 BestWebForms.com
 * For information visit http://www.bestwebforms.com/
 * All rights reserved. Used only by permission under license agreement.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Language" content="en-us">

<title>Admission File Update</title>
<meta name="description" content="description.">
<meta name="keywords" content="keywords">
<META NAME="MSSmartTagsPreventParsing" content="TRUE">

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">


<script language="Javascript">

<!--
function privacy(arg){
	var wn=window.open("./templates/windowopen.php?privacyid="+arg,"","resizable=yes,width=530,height=400,scrollbars=yes,top=0,left=0");
	wn.focus();
}


//-->
</script>

<style type="text/css"> 
body {background-color: %%iframe_background_color%%} 
</style>

<style type="text/css"> 
body {color: %%text_color%%} 
</style>

<style type="text/css"> 
body {font-family: %%font_style%%} 
</style>

<style type="text/css"> 
body
p
{font-size: %%text_size%%}
 
</style>

</head>

<body>

%%header%%

<center>

<div>

<br>
<p>

<table cellSpacing="0" cellPadding="0" width="375" id="table1">

<form name="form" method="POST" enctype="multipart/form-data">
<input type="hidden" name="f" value="%%form_to_use%%">
<input type="hidden" name="required_fields" value="Children_Names,Email_Address,Security_Code">
<input type="hidden" name="Subject" value="Admission File Update">


 <tr>
  <td>%%top_left%%</td>
  <td %%top_bar%%>&nbsp;</td>
  <td>%%top_right%%</td>
 </tr>
 <tr>
  <td %%left_bar%%>&nbsp;</td>
  <td style="width: 100%; background-color: #ffffff">

</font>

<table border="0" width="100%" cellpadding="0" cellspacing="1" id="table2" %%border_color%%>
 <tr>
  <td>

   <table border="0" width="100%" %%background_color%% id="table3">

    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table28">
			<tr>
				<td>
				<p align="center">Admission File Update</td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center">%%missing_fields_message%%</td>
    </tr>
    <tr>
     <td align="center">&nbsp;</td>
    </tr>
    
    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table23">
			<tr>
				<td width="30" valign="bottom">%%required_image_star%%</td>
				<td valign="bottom"><p align="left">
				Children:</td>
			</tr>
			<tr>
				<td width="30">&nbsp;</td>
				<td>
				<input name="Children_Names" maxlength="50" size="34" value="%%Children_Names%%"> 
				%%Children_Names_Required%%</td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Child's New Address:</td>
			</tr>
			<tr>
				<td width="30">
				<p align="right">&nbsp;</td>
				<td>
				<textarea name="Childs_New_Address"  cols="26" rows="3">%%Childs_New_Address%%</textarea></td>
			</tr>
			<tr>
				<td width="30">&nbsp;</td>
				<td>
				&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table29">
					<tr>
						<td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table17">
			<tr>
				<td width="48%" align="center"><p align="center">
				<input type="radio" name="Same_As" value="Mother" %%Mother_Selected%%> 
				Same as Mother</td>
				<td width="24%" align="center"><p align="center">
				<input type="radio" name="Same_As" value="Father" %%Father_Selected%%> 
				Father</td>
				<td width="26%" align="center"><p align="center">
				<input type="radio" name="Same_As" value="Both" %%Both_Selected%%> 
				Both</td>
				<td width="1%">
				&nbsp;</tr>
			<tr>
				<td colspan="4" height="32" valign="bottom">
				<p align="center"><img border="0" src="templates/deco/deco-image.gif" width="71" height="9"></td>
			</tr>
		</table>
		</td>
    </tr>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td width="30" valign="bottom" height="32">&nbsp;</td>
				<td valign="bottom" height="32"><p align="left">
				Mother's New Address:</td>
			</tr>
			<tr>
				<td width="30">
				<p align="center">&nbsp;</td>
				<td>
				<textarea name="Mothers_New_Address"  cols="26" rows="3">%%Mothers_New_Address%%</textarea></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Mother's New Home Phone Number:</td>
			</tr>
			<tr>
				<td width="30" height="32">
				<p align="center">&nbsp;</td>
				<td height="32">
				<input name="Mothers_New_Home_Phone_Number" maxlength="50" size="34" value="%%Mothers_New_Home_Phone_Number%%"></td>
			</tr>
			<tr>
				<td colspan="2" height="32">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table30">
					<tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table17">
			<tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table9">
			<tr>
				<td valign="top"><p align="center">
	<input type="checkbox" name="Mothers_Phone_1" value="Same_As_Fathers" %%Mothers_Phone_1_Same_As_Fathers_selected%%>Same 
	as Father's</td>
			</tr>
		</table>
		</td>
    </tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
		</table>
		</td>
    </tr>
				</table>
				</td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Mother's New Employer:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Mothers_New_Employer" maxlength="50" size="34" value="%%Mothers_New_Employer%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Mother's New Work Phone:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Mothers_New_Work_Phone" maxlength="50" size="34" value="%%Mothers_New_Work_Phone%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Mother's New Cell Phone:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Mothers_New_Cell_Phone" maxlength="50" size="34" value="%%Mothers_New_Cell_Phone%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Mother's New E-Mail:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Mothers_New_E-Mail" maxlength="50" size="34" value="%%Mothers_New_E-Mail%%"></td>
			</tr>
			<tr>
				<td height="32" colspan="2" valign="bottom">
				<p align="center"><img border="0" src="templates/deco/deco-image.gif" width="71" height="9"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Father's New Address:</td>
			</tr>
			<tr>
				<td width="30" height="32">
				<p align="right">&nbsp;</td>
				<td height="32">
				<textarea name="Fathers_New_Address"  cols="26" rows="3">%%Fathers_New_Address%%</textarea></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">Father's New Home Phone Number:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Fathers_New_Home_Phone" maxlength="50" size="34" value="%%Fathers_New_Home_Phone%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Father's New Employer:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Fathers_New_Employer" maxlength="50" size="34" value="%%Fathers_New_Employer%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Father's New Work Phone:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Fathers_New_Work_Phone" maxlength="50" size="34" value="%%Fathers_New_Work_Phone%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Father's New Cell Phone:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Fathers_New_Cell_Phone" maxlength="50" size="34" value="%%Fathers_New_Cell_Phone%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">&nbsp;</td>
				<td height="32" valign="bottom"><p align="left">
				Father's New E-Mail:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Fathers_New_E-Mail" maxlength="50" size="34" value="%%Fathers_New_E-Mail%%"></td>
			</tr>
			<tr>
				<td width="30" height="32" valign="bottom">%%required_image_star%%</td>
				<td height="32" valign="bottom"><p align="left">
				Your Email:</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				<input name="Email_Address" maxlength="50" size="34" value="%%Email_Address%%"> 
				%%Email_Address_Required%%</td>
			</tr>
			<tr>
				<td width="30" height="32">&nbsp;</td>
				<td height="32">
				&nbsp;</td>
			</tr>
			</table>
		</td>
    </tr>
    
    <tr>
	<td valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table26">
			<tr>
				<td valign="top" width="30">&nbsp;</td>
				<td><p align="left">
      &nbsp;<br>
		Additional Information:</td>
			</tr>
			<tr>
				<td valign="top" width="30">&nbsp;<p align="right">
				&nbsp; </td>
				<td>
      <table border="0" cellpadding="0" cellspacing="0" id="table27">
       <tr>
        <td><textarea name="Additional_Information"  cols="30" rows="8">%%Additional_Information%%</textarea></td>
        <td valign="top">
        &nbsp;</td>
       </tr>
      </table>
     			</td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td><p align="center"><input type=checkbox name="Send_To_Me" value="Yes" %%Send_To_Me_Yes_Selected%%> 
		Send me a copy</td>
    </tr>

    <tr>
     <td><p align="center">%%Security_Code_HTML%%</td>
    </tr>

    <tr>
     <td align="center">&nbsp; </td>
    </tr>

    <tr>
      <td align="center"><font face="Verdana"><input type="submit" value="Send"></font></td>
    </tr>

    <tr>
      <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td><p align="center">%%required_image_msg%%</td>
    </tr>

    <tr>
      <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center">
		<p align="left"><font size="2">&nbsp;</font><a href="javascript:privacy(1)"><font size="1">Privacy Policy</font></a></td>
    </tr>

    <tr>
     <td><p align="center">
<!-- Please do not delete the below link to BestWebForms.com. We find that having the link on the form 
gives the sender of the email more confidence and security of mind, plus it is in the license agreement.
Thank you.-->
		<br>
		<font size="1">Powered by
		</font>
		<a target="window.open" href="http://www.bestwebforms.com/index.php">
		<font size="1">Web Forms 3.0</font></a></td>
    </tr>

   </table>
  </td>
 </tr>
</table>
</td>


  <td %%right_bar%%>&nbsp;</td>
 </tr>
 <tr>
  <td>%%btm_left%%</td>
  <td %%btm_bar%%>&nbsp;</td>
  <td>%%btm_right%%</td>
 </tr>
 </form>
</table>

</p>

</div>

</center>

%%footer%%

</body>
</html>