<!--
 * (C) Copyright 2008 BestWebForms.com
 * For information visit http://www.bestwebforms.com/
 * All rights reserved. Used only by permission under license agreement.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Language" content="en-us">

<title>Contact Us</title>
<meta name="description" content="description.">
<meta name="keywords" content="keywords">
<META NAME="MSSmartTagsPreventParsing" content="TRUE">

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">


<script language="Javascript">

<!--
function privacy(arg){
	var wn=window.open("./templates/windowopen.php?privacyid="+arg,"","resizable=yes,width=530,height=400,scrollbars=yes,top=0,left=0");
	wn.focus();
}


//-->
</script>

<style type="text/css"> 
body {background-color: %%iframe_background_color%%} 
</style>

<style type="text/css"> 
body {color: %%text_color%%} 
</style>

<style type="text/css"> 
body {font-family: %%font_style%%} 
</style>

<style type="text/css"> 
body
p
{font-size: %%text_size%%}
 
</style>

</head>

<body>

%%header%%

<center>

<div>

<br>
<p>

<!--
 * The below validation javascript is for those who have it enabled on their browsers - over 95%.
 * The form fields also have code such as "Email_Address_Required" for those with javascript turned off.
-->

<script language=javascript>
<!--
function validate(){
	var Err="";
	if (!isEmail(document.form.Email_Address)){
		alert("Please enter a valid email address.");
		document.form.Email_Address.focus();
		return false;
	}
	if (document.form.Name.value==""){
		alert("Please type your name.");
		document.form.Name.focus();
		return false;
	}
	if (document.form.Subject.value==""){
		alert("Please type the subject.");
		document.form.Subject.focus();
		return false;
	}
	if (document.form.Comments.value==""){
		alert("Please type your comments.");
		document.form.Comments.focus();
		return false;
	}

	return true;
}

function isEmail(obj)
{
    var s = obj.value;
    var atSymIdx = s.indexOf("@");
	var atSymLidx=s.lastIndexOf("@");
    var dotIdx = s.lastIndexOf(".");
	var dotFIdx = s.indexOf(".");
	var answer = true;
    if (atSymIdx < 1 || dotFIdx<1 || dotIdx < (atSymIdx +2) || s.length < (dotIdx + 2) || atSymLidx==s.length-1 || atSymIdx!=atSymLidx)
		answer = false;
	if (!answer)
	{
		return false;
	}

	return true;
}

//-->
</script>


<?php echo $message; ?>



<table cellSpacing="0" cellPadding="0" width="375" id="table1">

<form name="form" method="POST" enctype="multipart/form-data" onSubmit="return validate()">
<input type="hidden" name="f" value="%%form_to_use%%">
<input type="hidden" name="required_fields" value="Subject,Email_Address,Name,Security_Code,Comments">


 <tr>
  <td>%%top_left%%</td>
  <td %%top_bar%%>&nbsp;</td>
  <td>%%top_right%%</td>
 </tr>
 <tr>
  <td %%left_bar%%>&nbsp;</td>
  <td style="width: 100%; background-color: #ffffff">

</font>

<table border="0" width="100%" cellpadding="0" cellspacing="1" id="table2" %%border_color%%>
 <tr>
  <td>

   <table border="0" width="100%" %%background_color%% id="table3">

    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table28">
			<tr>
				<td width="60%">
				<p align="right">Contact Us&nbsp;&nbsp;&nbsp;
				</td>
				<td>
				<img border="0" src="templates/deco/mail_pic.gif" width="27" height="21"></td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center">%%missing_fields_message%%</td>
    </tr>
    <tr>
     <td align="center">&nbsp;</td>
    </tr>
    
    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table23">
			<tr>
				<td width="5">%%required_image_star%%</td>
				<td width="90">
				<p align="right">Name:&nbsp; </td>
				<td>
				<input name="Name" maxlength="50" size="25" value="%%Name%%"> 
				%%Name_Required%%</td>
			</tr>
		</table>
		</td>
    </tr>
    
    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table21">
			<tr>
				<td width="5">%%required_image_star%%</td>
				<td width="90">
				<p align="right">Subject:&nbsp; </td>
				<td>
				<input name="Subject" maxlength="50" size="25" value="%%Subject%%"> 
				%%Subject_Required%%</td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table22">
			<tr>
				<td width="5">%%required_image_star%%</td>
				<td width="90">
				<p align="right">Email:&nbsp; </td>
				<td>
				<input name="Email_Address" maxlength="50" size="25" value="%%Email_Address%%"> 
				%%Email_Address_Required%%</td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table25">
			<tr>
				<td width="100">
				<p align="right">Phone:&nbsp; 
				<br>
				<font size="1">(optional)</font>&nbsp; </td>
				<td>
				<input name="Contact_Phone" maxlength="50" size="25" value="%%Contact_Phone%%"></td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
	<td valign="top">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table26">
			<tr>
				<td valign="top" width="30">&nbsp;</td>
				<td><p align="left">
      &nbsp;<br>
		Comments:</td>
			</tr>
			<tr>
				<td valign="top" width="30">%%required_image_star%%<p align="right">
				&nbsp; </td>
				<td>
      <table border="0" cellpadding="0" cellspacing="0" id="table27">
       <tr>
        <td><textarea name="Comments"  cols="30" rows="6">%%Comments%%</textarea></td>
        <td valign="top"> %%Comments_Required%%</td>
       </tr>
      </table>
     			</td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center"><p align="center"><input type=checkbox name="Send_To_Me" value="Yes" %%Send_To_Me_Yes_Selected%%> 
		Send me a copy</td>
    </tr>

    <tr>
     <td align="center"><p align="center">%%Security_Code_HTML%%</td>
    </tr>

    <tr>
     <td align="center">&nbsp;</td>
    </tr>

    <tr>
      <td align="center"><font face="Verdana"><input type="submit" value="Send"></font></td>
    </tr>

    <tr>
      <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center"><p align="center">%%required_image_msg%%</td>
    </tr>

    <tr>
      <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center">
		<p align="left"><font size="1">&nbsp;</font><a href="javascript:privacy(1)"><font size="1">Privacy Policy</font></a></td>
    </tr>

    <tr>
     <td align="center"><p align="center">
<!-- Please do not delete the below link to BestWebForms.com. We find that having the link on the form 
gives the sender of the email more confidence and security of mind, plus it is in the license agreement.
Thank you.-->
		<br>
		<font size="1">Powered by
		</font>
		<a target="window.open" href="http://www.bestwebforms.com/index.php">
		<font size="1">Web Forms 3.0</font></a></td>
    </tr>

   </table>
  </td>
 </tr>
</table>
</td>

  <td %%right_bar%%>&nbsp;</td>
 </tr>
 <tr>
  <td>%%btm_left%%</td>
  <td %%btm_bar%%>&nbsp;</td>
  <td>%%btm_right%%</td>
 </tr>
 </form>
</table>

</p>

</div>

</center>

%%footer%%

</body>
</html>