<!--
 * (C) Copyright 2008 BestWebForms.com
 * For information visit http://www.bestwebforms.com/
 * All rights reserved. Used only by permission under license agreement.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Language" content="en-us">

<title>Subscription Form</title>
<meta name="description" content="description.">
<meta name="keywords" content="keywords">
<META NAME="MSSmartTagsPreventParsing" content="TRUE">

<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">


<script language="Javascript">

<!--
function privacy(arg){
	var wn=window.open("./templates/windowopen.php?privacyid="+arg,"","resizable=yes,width=530,height=400,scrollbars=yes,top=0,left=0");
	wn.focus();
}


//-->
</script>

<style type="text/css"> 
body {background-color: %%iframe_background_color%%} 
</style>

<style type="text/css"> 
body {color: %%text_color%%} 
</style>

<style type="text/css"> 
body {font-family: %%font_style%%} 
</style>

<style type="text/css"> 
body
p
{font-size: %%text_size%%}
 
</style>

</head>

<body>

%%header%%

<center>

<div>

<br>
<p>

<table cellSpacing="0" cellPadding="0" width="375" id="table1">

<form name="form" method="POST" enctype="multipart/form-data">
<input type="hidden" name="f" value="%%form_to_use%%">
<input type="hidden" name="required_fields" value="First_Name,Last_Name,Email_Address,Security_Code">
<input type="hidden" name="Subject" value="%%subject_hidden_field%%">

 <tr>
  <td>%%top_left%%</td>
  <td %%top_bar%%>&nbsp;</td>
  <td>%%top_right%%</td>
 </tr>
 <tr>
  <td %%left_bar%%>&nbsp;</td>
  <td style="width: 100%; background-color: #ffffff">

</font>

<table border="0" width="100%" cellpadding="0" cellspacing="1" %%border_color%%>
 <tr>
  <td>

   <table border="0" width="100%" %%background_color%%>

    <tr>
     <td align="center"><p align="center">Subscribe Now</td>
    </tr>
    <tr>
     <td align="center">%%missing_fields_message%%</td>
    </tr>
    <tr>
     <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table2">
			<tr>
				<td width="5" height="30">
				<p align="left">%%required_image_star%%</td>
				<td width="90" nowrap height="30">
				<p align="right">First Name:&nbsp; </td>
				<td height="30">
				<input name="First_Name" maxlength="50" size="25" value="%%First_Name%%">
				%%First_Name_Required%%</td>
			</tr>
			<tr>
				<td width="5" height="30">
				<p align="left">%%required_image_star%%</td>
				<td width="90" nowrap height="30">
				<p align="right">Last Name:&nbsp; </td>
				<td height="30">
				<input name="Last_Name" maxlength="50" size="25" value="%%Last_Name%%">
				%%Last_Name_Required%%</td>
			</tr>
			<tr>
				<td width="5" height="35">
				<p align="left">%%required_image_star%%</td>
				<td width="90" nowrap height="35">
				<p align="right">Email:&nbsp; </td>
				<td height="35">
				<input name="Email_Address" maxlength="50" size="25" value="%%Email_Address%%">
				%%Email_Address_Required%%</td>
			</tr>
			<tr>
				<td width="5"></td>
				<td width="90" nowrap valign="top">
				<p align="right">Message:&nbsp; </td>
				<td>
				<textarea name="Message"  cols="19" rows="4">%%Message%%</textarea></td>
			</tr>
		</table>
		</td>
    </tr>

    <tr>
     <td align="center"><p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type=checkbox name="Send_To_Me" value="Yes" %%Send_To_Me_Yes_Selected%%> 
		Send me a copy</td>
    </tr>

    <tr>
     <td align="center"><p align="center">%%Security_Code_HTML%%</td>
    </tr>

    <tr>
     <td align="center">&nbsp;</td>
    </tr>

    <tr>
      <td align="center"><font face="Verdana"><input type="submit" value="Send"></font></td>
    </tr>

    <tr>
      <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center"><p align="center">%%required_image_msg%%</td>
    </tr>

    <tr>
      <td align="center">&nbsp;</td>
    </tr>

    <tr>
     <td align="center">
		<p align="left"><font size="1">&nbsp;</font><a href="javascript:privacy(1)"><font size="1">Privacy Policy</font></a></td>
    </tr>

    <tr>
     <td align="center"><p align="center">
<!-- Please do not delete the below link to BestWebForms.com. We find that having the link on the form 
gives the sender of the email more confidence and security of mind, plus it is in the license agreement.
Thank you.-->
		<br>
		<font size="1">Powered by
		</font>
		<a target="window.open" href="http://www.bestwebforms.com/index.php">
		<font size="1">Web Forms 3.0</font></a></td>
    </tr>

   </table>
  </td>
 </tr>
</table>
</td>

  <td %%right_bar%%>&nbsp;</td>
 </tr>
 <tr>
  <td>%%btm_left%%</td>
  <td %%btm_bar%%>&nbsp;</td>
  <td>%%btm_right%%</td>
 </tr>
 </form>
</table>

</p>

</div>

</center>

%%footer%%

</body>
</html>